body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #ddd;
}

.oval{
  width: 200px;
  height: 150px;
  border-radius: 50%; 
}

.left-column {
  width: 35%;
  background-color: #1f2d5a;
  color: white;
  padding: 20px;
}

.right-column {
  width: 65%;
  padding: 20px;
}

.photo {
  width: 5px;
  background-color: white;
  border-radius: 20%;
  
  
}

.contact-info {
  background-color: #2f4b88;
  padding: 10px;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin-top: 20px;
}

ul {
  padding-left: 20px;
}

h1 {
  margin-top: 0;
  color: #1f2d5a;
}

h2 {
  color: #1f2d5a;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-top: 30px;
}

.job {
  margin-bottom: 20px;
}